* {
  padding: 0;
  margin: 0;
  height: 100vh;
}
canvas {
  background: none;
  position: relative;
  border: 1px solid rgba(200, 200, 200, 0.9);
}
.ui {
  display: flex;
  justify-content: space-around;
  background: url("./uiBack.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
